<nav id="nav">
    <div class="nav__wrapper">
      <div class="nav__icon icon">
        <a href="/">Just a Bite!</a>
      </div>
      <div class="nav-list">
        <ul>
          <a href="/lottery" class="nav-list__event">
            <li>抽個大獎</li>
          </a>
          <a href="/product">
            <li>我要點餐</li>
          </a>
          <a href="/order">
            <li>查詢清單</li>
          </a>
          <a href="/qa">
            <li>常見問題</li>
          </a>
        </ul>
      </div>
    </div>
  </nav>