@import './var';
@import './component';


.orders {
    margin-bottom: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;


    &__btn {
        width: 200px;
        margin-top: 50px;
        align-self: flex-end;
    }

    .list__body .list__row:hover {
        background-color: rgb(240, 240, 240);
        cursor: pointer;
    }

    .list__cell--index a {
        text-decoration: underline;
        color: $color-green;
    }
}
